@media (min-width: 1025px){
.header{
  /*padding: 27px 230px;        отступы в шапке*/
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #6d6c69;
  position: relative;
   z-index: 0;

}
.header::after { /*маска*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}
#menu_toggle {
  opacity: 0;
}
.header_content{
  max-width: 1215px;
  margin: 0 auto;
  padding-left: 42px;
  padding-right: 5px;
  padding-top: 27px;
}

.menu_list_items{
  display: inline-block; 
}

.menu_header_link{
  text-decoration: none;
  text-transform: uppercase;
  font-family: open-sans-r;
  color: white;
  font-size: 13px;
  cursor: pointer;
}
.menu_list_items:nth-child(n+2) {
  padding-left: 31px;
}
.menu_header_link:hover{
  text-decoration: underline;/*при наведении курсора на пункт меню 
                              появляется подчеркивание */

}
.menu_logo{
  display: flex;
  align-items: center;
  justify-content: space-between; /*меню и лого в разные стороны*/
  /*padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;*/
}
.welcome{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 100px 0 125px 0;
}
.welcome_title{
  text-transform: uppercase;
  font-family: open-sans-b;
  font-size: 45px;
  color: white;
  max-width: 700px;
  line-height: 1.7;

}



}